@import url(cabecera.css);

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background: linear-gradient(#D121FF, #9D00CF);
    height: 100px;
}   
.footercontent{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footertext{
    color: white;
    font-family: Arial, Helvetica, sans-serif
    font-size: 80px;
    display: flex;
    text-align: center;

}   

.imgfooter{
    width: 20px;
    height: 20px;
}